@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rozha+One&display=swap');

:root {

    /** Typography. */
    --font-copy: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Corbel', 'Tahoma', sans-serif;
    --font-headings: 'Rozha One', 'Bodoni 72', 'Didot', 'Georgia', 'Times New Roman', 'Times', serif;

    /** Color palette. */
    --snow: #fefefe;
    --stone: #ebede6;
    --silver: #cccccc;
    --shadow: #888888;
    --onyx: #191919;
    --olive: #577558;
    --clay: #ac8265;

}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

html {
    font: 400 0.95em/1.8 var(--font-copy);
    letter-spacing: 0.01em;
    background-color: var(--snow);
    color: var(--shadow);
    scroll-behavior: smooth;
}

a, a:link, a:visited {
    font-weight: inherit;
    text-decoration: none;
    color: var(--olive);
}

a:hover, a:active {
    color: var(--onyx);
}

a:active {
    border-bottom: 1px dotted var(--silver);
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headings);
    font-weight: 400;
    letter-spacing: -0.01em;
    color: var(--onyx);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.header-subtext {
    display: block;
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: var(--clay);
    margin-bottom: 1rem;
}

h1 {
    font-size: clamp(2.5rem, 8vw, 4.5rem);
    margin-bottom: 2rem;
}

h2 {
    font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    margin: 1.67rem 0;
}

section {
    padding: 10rem 0;
}

section:nth-child(even) {
    background-color: var(--stone);
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1300px;
}

/**
 * ===========
 * Page header
 * ===========
 */

.page-header {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid var(--silver);
    background-color: var(--snow);
    padding: 1.5rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu ul {
    display: flex;
    gap: 3rem;
}

.book-now-btn {
    font-size: 1rem;
    border-radius: 12px;
    background-color: var(--onyx);
    color: #fff;
    padding: 1rem;
}

/**
 * ============
 * Hero section
 * ============
 */

#hero {
    text-align: center;
    padding-top: 12rem;
}

.hero-copy {
    max-width: 800px;
    margin: 0 auto;
}

.hero-hook {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 4rem 0;
}

.hero-cta ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.hero-cta ul li a,
.hero-cta ul li a:link,
.hero-cta ul li a:visited {
    font-size: 1.25rem;
    color: var(--olive);
    padding: 1rem;
}

.hero-cta-primary {
    border-radius: 12px;
    border: 2px solid var(--clay);
    background-color: var(--clay);
    color: var(--snow)!important;
}

.hero-cta-secondary {
    border-radius: 12px;
    border: 2px solid var(--olive);
}

#hero h1 span {
    color: var(--olive);
}

/**
 * ================
 * Services section
 * ================
 */

.services-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    align-items: stretch;
    margin-top: 4rem;
}

.services-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
    padding: 2.5rem;
    transition: background 0.5s ease-in;
}

.services-card:hover {
    background: rgba(255, 255, 255, 0.25);
}

.services-card a {
    margin-top: auto;
}


a.services-link,
a.services-link:link,
a.services-link:visited {
    border-radius: 12px;
    border: 2px solid var(--olive);
    color: var(--olive);
    padding: 0.5rem;
    transition: background  0.5s ease-in;
}

a.services-link:hover, a.services-link:active {
    background-color: var(--olive);
    color: var(--snow);
}

.services-card-descr {
    margin-bottom: 2rem;
}

.services-card hr {
    height: 1px;
    background: linear-gradient(to right, var(--stone), var(--stone), var(--silver), var(--stone), var(--stone));
}

.services-card h3 {
    font-size: 1.5rem;
}


/**
 * ===============
 * Journal section
 * ===============
 */

.journal-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
}

.post-small:first-child {
    margin-bottom: 3rem;
}

.post-category {
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--silver);
}

/**
 * ===========
 * FAQ section
 * ===========
 */

#faq {
    border-bottom: 1px solid var(--onyx);
}

/**
 * ===========
 * Page footer
 * ===========
 */

.page-footer {
    border-top:4px solid var(--snow);
    background-color: var(--onyx);
}

.footer-brand {
    text-align: center;
}


.hidden {
    display: none;
}