@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rozha+One&display=swap');

:root {

    /** Typography. */
    --font-copy: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Corbel', 'Tahoma', sans-serif;
    --font-headings: 'Rozha One', 'Bodoni 72', 'Didot', 'Georgia', 'Times New Roman', 'Times', serif;

    /** Color palette. */
    --snow: #fefefe;
    --stone: #ebede6;
    --silver: #cccccc;
    --shadow: #888888;
    --onyx: #191919;
    --olive: #577558;
    --clay: #ac8265;

}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

html {
    font: 400 0.95em/1.8 var(--font-copy);
    letter-spacing: 0.01em;
    background-color: var(--snow);
    color: var(--shadow);
    scroll-behavior: smooth;
}

a, a:link, a:visited {
    font-weight: inherit;
    text-decoration: none;
    color: var(--olive);
}

a:hover, a:active {
    color: var(--onyx);
}

a:active {
    border-bottom: 1px dotted var(--silver);
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headings);
    font-weight: 400;
    letter-spacing: -0.01em;
    color: var(--onyx);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.header-subtext {
    display: block;
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: var(--clay);
    margin-bottom: 1rem;
}

h1 {
    font-size: clamp(2.5rem, 8vw, 4.5rem);
    margin-bottom: 2rem;
}

section {
    padding: 10rem 0;
}

section:nth-child(even) {
    background-color: var(--stone);
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1300px;
}

/**
 * ===========
 * Page header
 * ===========
 */

.page-header {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid var(--silver);
    background-color: var(--snow);
    padding: 1.5rem 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu ul {
    display: flex;
    gap: 3rem;
}

/**
 * ============
 * Hero section
 * ============
 */

#hero {
    text-align: center;
}

.hero-copy {
    max-width: 800px;
    margin: 0 auto;
}


.hidden {
    display: none;
}